{
	"presets": [
		[
			"env",
			{
				"modules": false,
				"targets": {
					"browsers": ["last 3 versions", "safari >= 7"]
				}
			}
		],
		"react",
		"flow"
	],
	"plugins": [
		"transform-decorators-legacy",
		"transform-react-remove-prop-types"
	]
}
