{
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": ["last 3 versions", "safari >= 7"]
				}
			}
		]
	],
	"plugins": [
		"transform-decorators-legacy",
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-react-remove-prop-types",
		"transform-react-inline-elements"
	],
	"env": {
		"production": {
			"plugins": ["transform-react-constant-elements"]
		}
	}
}
