{
	"extends": ["plugin:flowtype/recommended", "airbnb", "prettier"],
	"plugins": ["flowtype", "react", "jsx-a11y", "import", "prettier"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"no-underscore-dangle": 0,
		"react/forbid-prop-types": 0,
		"jsx-a11y/anchor-is-valid": [
			"error",
			{
				"components": ["Link"],
				"specialLink": ["to", "hrefLeft", "hrefRight"],
				"aspects": ["noHref", "invalidHref", "preferButton"]
			}
		],
		"arrow-body-style": "warn"
	}
}
