#clipboard {
	.fab {
		float: right;
		margin-top: 25px;
		position: sticky;
		margin-right: 20px;
		top: 30px;
	}

	.dialogForm {
		div {
			width: 100%;
		}
	}

	pre {
		text-align: left;
		background-color: transparent;
		border: none;
	}
}
