<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>CLIPCOPY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
    <div id="root">
    </div>
    <noscript>
        <div class="no-script">Please enable JavaScript in order to enjoy this site</div>
    </noscript>
</body>

</html>
